<%= form_tag books_path, method: "get", class: "inline-flex items-center" do %>
  <%= text_field_tag :search,
        params[:search],
        placeholder: "Search...",
        class: "p-2 border-2 border-gray rounded"
  %>

  <button>
    <%= inline_svg_tag("magnifier.svg", aria: true, title: "search", class: "w-auto ml-2") %>
  </button>
<% end %>
