<% presentations_hash.each do |user_id, book_presentations| %>
 <div class="bookPresentation-box">
  <ul>
    <li><%= link_to book_presentations[0].user.name, books_path(:user_id => user_id), class: "bookPresentation-name" %> </li>

    <div class="bookPresentation-titles">
      <% book_presentations.each do |presentation| %>
        <li> <span class="bookPresentation-title"> &mdash;  <%=link_to presentation.book.title, book_path(presentation.book)%></span>,
          by <%= book_author(presentation.book) %>
        </li>
      <% end %>
    </div>
  </ul>

 </div>
<% end %>
