<li class="bookPresentation-Li">
  <%=book_presentation.user.name%>  &nbsp;
  -
  &nbsp; <%=link_to book_presentation.book.title, book_path(book_presentation.book), class: "bookPresentation-a" %>
</li>
