<% presentations_hash.each do |user_id, book_presentations| %>
  <div class="bookPresentation-box">
    <ul>
      <li><%= link_to book_presentations[0].user.name, books_path(:user_id => user_id), class: "bookPresentation-name" %></li>
      <ul class="bookPresentation-titles">
        <% book_presentations.each do |presentation| %>
          <li>
            <span class="u-popup" @click="openPopup('<%= book_path(presentation.book) %>')">
              &mdash; <span class="bookPresentation-title u-pointer"><%= presentation.book.title %></span>,
                by <%= book_author(presentation.book) %>
            </span>
          </li>
        <% end %>
      </ul>
    </ul>
  </div>
<% end %>


