<div class="Users-login">

  <div class="Users-loginForm">
    <h1>Bookclub</h1>
    <p class="Users-loginSubtitle"> Log in to Bookclub</p>
    <%= form_with model: @user, url: login_path, method: :post do %>
      <div class="Users-field">
        <%= email_field_tag :email, nil, required: true,  placeholder: 'Email', class: "Users-loginTextInput" %>
      </div>

      <div class="Users-field">
        <%= password_field_tag :password, nil, required: true,   placeholder: 'Password', class: "Users-loginTextInput" %>
      </div>

      <div class="Users-actions">
        <%= submit_tag 'Log in', class: "Users-actionsSubmit" %>
      </div>
    <% end %>
    </div>
</div>
