<div class="Books">
  <h1>New Book</h1>
  <%= render 'form', book: @book %>

  <%= link_to 'Back', books_path %>  |

  <%= link_to "Create using API", new_book_path(title: @book.title, author: @book.author) %>
</div>
