<% presentations_hash.each do |user_id, book_presentations| %>
 <div class="bookPresentation-box">
  <ul>
    <li><%= link_to book_presentations[0].user.name, books_path(:user_id => user_id), class: "bookPresentation-name" %> </li>

  <% book_presentations.each do |presentation| %>
      <li>
        <div class="bookPresentation-title">
          &mdash;  <%=link_to presentation.book.title, book_path(presentation.book)%>
        </div>
      </li>
  <% end %>
  </ul>
 </div>
<% end %>
