<div class="gatherings-Main">
  <% unless @last_year == 0 %>
    <% ((@last_year).downto(@first_year)).each do |year| %>
      <p class="gatherings-MainYear"><%= year %></p>
      <div class="gatherings-First">
        <% if current_user %>
          <% if year == @last_year %>
            <button class="gatherings-FirstBox gatherings-PlusBox">
              <%= link_to (image_tag 'plus.svg', alt: "New Gathering") , new_gathering_path(@gathering), class:"gatherings-First-link" %>
            </button>
          <% end %>
        <% end %>
        <% filter_by_year(@gatherings, year).each do |gathering| %>
          <button class="gatherings-FirstBox">
            <div class="gathering-FirstBox-Delete">
              <%= link_to (image_tag 'trash.svg', alt: "delete", class: "gathering-FirstBox-DeleteImg"), gathering, method: :delete, data: {confirm: 'Are you sure?' } %>
            </div>
            <%= link_to Date::MONTHNAMES[gathering.date.month], gathering,  class:"gatherings-First-link"%>
          </button>
        <% end %>
      </div>
      <br>
    <% end %>
  <% end %>
</div>
