<div class="Gatherings-sec">
  <%= link_to (inline_svg_tag 'arrow.svg', alt: "back arrow", class: "Gatherings-secImg" )+
                  "Back", gatherings_path, class: "Gatherings-secLink" %>
</div>

<div class="Gatherings-main">
  <h1>New Bookclub Gathering</h1>
  
  <%= render 'form', gathering: @gathering %>
</div>
