<div class="max-w-4xl mx-auto px-6">
  <div class="mb-8">
    <%= render "_components/back_arrow" %>
  </div>

  <h1>New Bookclub Gathering</h1>
  <div class="u-line"></div>
  <%= render "form", gathering: @gathering %>
</div>
