<div class="u-floatingBack">
  <%= link_to (inline_svg_tag 'back_arrow.svg', alt: "back arrow", class: "u-floatingBackImg" )+
                  "Back", gatherings_path, class: "u-floatingBackLink" %>
</div>

<div class="gatherings-Main">
  <h1>New Bookclub Gathering</h1>
  <div class="u-line"></div>
  <%= render 'form', gathering: @gathering %>
</div>
