<div class="gatherings-Sec">
  <%= link_to (inline_svg_tag 'back_arrow.svg', alt: "back arrow", class: "gatherings-Sec-img" )+
                  "Back", gatherings_path, class: "gatherings-Sec-link" %>
</div>

<div class="gatherings-Main">
  <h1>New Bookclub Gathering</h1>
  
  <%= render 'form', gathering: @gathering %>
</div>
