<div class="mb-8">
  <%= render "_components/back_arrow" %>
</div>

<h1 class="text-3xl text-blue-600 font-serif pb-8">
  New Bookclub Gathering
</h1>

<div class="border-b border-gray-200"></div>

<%= render "form", gathering: @gathering %>
