<%= form_with(url: books_path, method: "post") do |form| %>

  <div class="Books-Field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn %>
  </div>

  <div class="Books-Actions">
    <%= form.submit %>
  </div>
<% end %>
