<%= form_with(model: book, url: books_path) do |form| %>
  <div class="Books-Field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn %>
  </div>

  <div class="Books-Actions">
    <%= form.submit %>
  </div>
<% end %>
