<div class="books-Main">
  <div class="mb-8">
    <%= render "_components/back_arrow" %>
  </div>

  <h1>New Book - Using Google Books </h1>
  <div class="u-line"></div>

  <%= render "form", book: @book %>
</div>
