/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "colors";
@import "book_presentation";
@import "books";
@import "common/fonts";
@import "gathering";
@import "users";
@import "sidebar";
@import "popup";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.main {
  padding: 3% 25% 1% 25%;
}

.u-notice {
  padding-left: 25%;

  color: $base-color;

  font-family: "Open Sans", serif;
  font-weight: bold;
}

.main-Header {
  top: 0;
  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5%;
  padding-top: 1.5em;

  color: $tertiary-color;

  font-family: Playfair Display, serif;
  font-weight: bold;
}

.header-Search {
  width: 21em;
  height: 2.1em;
  padding-right: 10px;
  padding-left: 7px;
  margin-left: 9em;

  background-color: $tertiary-color;
  border-color: $tertiary-color;
  border-radius: 50px;
  box-shadow: 0px 0px 50px rgba(27, 96, 243, 0.08);
}

.header-SearchText {
  width: 22em;
  height: 3em;
  padding-right: 10px;
  margin-left: 1em;

  border: $tertiary-color;
  border-radius: 50px;
  color: $darker-secondary-color;
}

.header-SearchImg {
  position: absolute;

  height: 1.5em;
  margin-top: 8px;
}

.header-LogOut-text {
  padding-top: 0.4em;
  padding-left: 1.8em;

  color: $secondary-color;

  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
}

.header-UserName {
  color: $base-color;
}

.header-UserName:hover {
  text-decoration: underline;
}

.header-LogOut {
  font-size: 12px;
  font-weight: normal;
}

.header-LogOut:hover {
  text-decoration: underline;
}

.header-LogIn {
  width: 9em;
  height: 2.5em;
  margin-left: 3em;

  background-color: $base-color;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(27, 96, 243, 0.2);

  font-family: Open Sans;
  font-size: 16px;
  font-weight: normal;
}

.header-LogIn:hover {
  background-color: $darker-base-color;
}

.header-Nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 25%;
  margin: 0;

  list-style: none;
}

.header-Nav a {
  color: inherit;

  text-decoration: none;
}

.header-Brand {
  position: absolute;
  top: -1.3em;

  color: $base-color;
}

.header-BrandImg {
  width: 8em;
}

@media all and (max-width: 1000px) {
  .header-Nav {
    width: 20em;
  }
}
