/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "book_presentation";
@import "books";
@import "common/fonts";
@import "gathering";
@import "table";
@import "users";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.main-header {
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  color: white;

  font-family: "Poppins", serif;
}

.main-header {
  z-index: 1000;

  height: 70px;

  background-color: #2e47d1;

  font-weight: bold;
}

.nav-link {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}

.nav-link img {
  width: 1em;
  margin-right: 0.75rem;
}

.login-btn {
  display: flex;
  align-items: center;
  padding-right: 5px;
  padding-left: 10px;
  margin-top: 5px;
  margin-right: 0.75rem;
  margin-bottom: 5px;

  border: 3px solid white;
  border-radius: 1.5rem;
}

.login-btn img {
  width: 1em;
  margin-right: 0.25rem;
}

.container {
  flex-grow: 1;
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style: none;
}

.header-nav a {
  display: flex;
  align-items: center;
  padding: 0.5rem;

  color: inherit;

  text-decoration: none;
}

.header-nav a:hover {
  color: #adadad;
}

.bookclub-brand {
  display: flex;
  align-items: center;
  margin-left: 1rem;

  font-size: 2rem;
}

.main-body {
  margin-top: 70px;
}

.main-HeaderImages {
  margin-right: 0.5em;
}
