@import "colors";

.Books {
  margin-left: 8%;
}

.Books-Field {
  padding: 10px;
}

.Books-Actions {
  padding: 5px;
}

.Books-unknown {
  width: 9em;
  height: 9em;
}

.books-NewButton {
  display: inline-block;
  padding: 5px 20px 6px 20px;
  margin: 40px 0;

  background: $base-color;
  border: none;
  border-radius: 25px;
  color: $tertiary-color;
  cursor: pointer;

  font-family: Open Sans, serif;
  font-size: 1em;
  text-decoration: none;
}
