@import "colors";
.bookPresentation-box {
  margin-bottom: 15px;
  ul {
    padding-left: 1em;
    margin-top: 0;
    margin-bottom: -8px;
  }
}

.bookPresentation-Li {
  padding-left: 5%;

  color: $secondary-color;

  font-family: Open Sans, serif;
}

.bookPresentation-name {
  color: $secondary-color;

  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.bookPresentation-titles {
  margin-top: 0.25em;
  margin-left: 1em;
  //font-size: 1px;
  color: $darker-base-color;

  font-family: "Open Sans", sans-serif;

  font-weight: normal;
  a {
    color: inherit;

    text-decoration: none;
  }
  li {
    padding-bottom: 8px;
  }

  .bookPresentation-title {
    font-weight: 600;
  }
}

.form-group {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}

.u-deleteButton {
  display: none;
}

.form-group:hover .u-deleteButton {
  display: block;
  width: 0.7em;
  height: 0.7em;
  margin-bottom: 0.7em;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  min-width: 1.3em;
  margin-right: 8px;

  background-color: $tertiary-color;
  border: 1px solid $lighter-secondary-color;
  border-radius: 50%;
  cursor: pointer;
  outline: none;

  vertical-align: middle;
  -webkit-appearance: none;
}

.checkbox-round:checked {
  background: $darker-base-color;
}

input[type="checkbox"] {
  transform: scale(1.5);
}
