@import "colors";
.bookPresentation-box {
  margin-bottom: 15px;
  ul {
    padding-left: 1em;
    margin-top: 0;
    margin-bottom: -8px;
  }
}

.bookPresentation-name {
  color: $secondary-color;

  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.bookPresentation-name:hover {
  text-decoration: underline;
}

.bookPresentation-titles {
  margin-top: 0.25em;
  margin-left: 1em;

  color: $darker-base-color;

  font-family: "Open Sans", sans-serif;

  font-weight: normal;
  a {
    text-decoration: none;
  }
  li {
    padding-bottom: 8px;
  }

  .bookPresentation-title {
    font-weight: 600;
  }

  .bookPresentation-title:hover {
    text-decoration: underline;
  }
}
