.gatherings-Main {
  padding: 3% 25% 1% 25%;
  hr {
    width: 100%;
    margin: 3% 0 0 0;

    border: 1px solid #edf0f7;
  }

  h1 {
    color: #1b60f3;

    font-family: "Playfair Display", serif;
    font-size: 2em;
  }

  h2 {
    color: #1b60f3;

    font-family: Open Sans, serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 600;
  }

  h3 {
    color: #1b60f3;

    font-family: Open Sans;
    font-style: normal;
  }

  ul {
    list-style: none;
  }
}

.gatherings-Main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gatherings-Main-header-left {
  display: flex;
  align-items: center;
}

.gatherings-Main-header-left-img {
  margin-right: 10px;
}

.gatherings-Sec {
  position: fixed;

  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  max-height: 100px;
  padding: 0 7em;
  margin-top: 1.5em;
}
.gatherings-Sec-img {
  display: flex;
  max-width: 30%;
  max-height: 30%;
  margin-right: 0.4em;
}

.gatherings-Sec-link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #1f29a4;

  text-decoration: none;
}

.gatherings-Main-header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.gatherings-Ul {
  margin-top: 0;
}

.gatherings-YearGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .gatherings-YearGridBox {
    flex-basis: 8em;
    float: left;
    padding: 30px 60px 30px 60px;
    margin: 0.5em;

    background: #ffffff;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 50px rgba(27, 96, 243, 0.08);

    font-family: Playfair Display;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
  }

  .gathering-FirstBox-Delete {
    position: relative;
    .gathering-FirstBox-DeleteImg {
      position: absolute;
      top: -10px;
      right: -35px;

      width: 18px;
    }
  }

  .gatherings-PlusBox {
    background: #7485a9;
  }
}

.gatherings-First-link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #1b60f3;

  text-decoration: none;
}

.gatherings-MainYear {
  color: #7485a9;

  font-family: Open Sans;
}

.gatherings-MainYear::after {
  content: "";

  display: inline-block;
  width: 3em;
  margin-left: 0.5em;

  border: 0.01em solid #7485a9;

  text-align: center;
  vertical-align: middle;
}

.gatherings-Date select:nth-child(1) {
  box-sizing: border-box;
  width: 3.2em;

  background: white;
  border: 1px solid #1f29a4;
  border-radius: 25px;
}

.gatherings-Date select:nth-child(2) {
  box-sizing: border-box;
  width: 7em;

  background: white;
  border: 1px solid #1f29a4;
  border-radius: 25px;
}

.gatherings-Date select:nth-child(3) {
  box-sizing: border-box;
  width: 4.2em;

  background: white;
  border: 1px solid #1f29a4;
  border-radius: 25px;
}

.gatherings-Special {
  box-sizing: border-box;
  width: 15em;

  background: white;
  border: 1px solid #1f29a4;
  border-radius: 25px;
}

.Gatherings-mentionsFirst {
  width: 33%;
}

.Gatherings-mentionsSecond {
  width: 50%;
}

.gatherings-Link {
  color: #1f29a4;

  font-family: Open Sans;
  text-decoration: none;
}

.gatherings-Titles {
  color: #1f29a4;

  font-family: Open Sans;
  font-size: 0.9em;
  font-style: normal;
  font-weight: normal;
}

.gatherings-TitlesDate {
  line-height: 2.1em;
}

.gatherings-TitlesSpecial {
  line-height: 0em;
}

.gatherings-Submit {
  padding: 5px 20px 6px 20px;

  background: #1b60f3;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;

  font-family: Open Sans, serif;
  font-size: 0.8em;
}

.gatherings-SpaceDown {
  margin-bottom: 0.1em;
}

.gatherings-SpaceUpDown {
  margin: 0.8em 0 0.2em 0;
}

.gatherings-SpaceButton {
  margin-bottom: 0.8em;
}

.gatherings-Line {
  width: 100%;
  margin-top: 1.2em;

  border: 1px solid #edf0f7;
}

.gatherings-NextDate {
  margin-bottom: 2.3em;

  color: #1b60f3;

  font-family: Open Sans;
  font-size: 0.9em;
  font-weight: bold;
}

.gatherings-NextDateShow {
  padding: 0.3em 0.7em 0.3em 0.7em;
  margin-left: 0.8em;

  border: 2px solid #1b60f3;
  border-radius: 25px;

  font-size: 1.1em;
}

.gatherings-ShowHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin-top: 0;
    margin-right: 1em;
    margin-bottom: 0.2em;
  }

  input {
    margin-top: 0.2em;

    font-size: 1em;
  }
}
