@import "colors";

.gatherings-Main {
  max-width: 65rem;
  padding: 3% 6.5% 1% 6.5%;
  margin: 0 auto;

  hr {
    width: 100%;
    margin: 3% 0 0 0;

    border: 1px solid #edf0f7;
  }

  h1 {
    color: $base-color;

    font-family: "Playfair Display", serif;
    font-size: 2em;
  }

  h2 {
    color: $base-color;

    font-family: Open Sans, serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 600;
  }

  h3 {
    color: $base-color;

    font-family: Open Sans, serif;
    font-style: normal;
  }

  ul {
    list-style: none;
  }

  p {
    margin-top: 6.2px;
  }

  .gatherings-SpecialPresentation {
    margin-top: 2.5rem;
  }
}

.u-helpText {
  color: $secondary-color;
}

.gatherings-Main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gatherings-Main-header-left {
  display: flex;
  align-items: center;
}

.gatherings-Main-header-left-img {
  margin-right: 10px;
}

.u-floatingBack {
  position: fixed;

  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  max-height: 100px;
  padding: 0 7em;
  margin-top: 1.5em;
}
.u-floatingBackImg {
  display: flex;
  max-width: 30%;
  max-height: 30%;
  margin-right: 0.4em;
}

.u-floatingBackLink {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $secondary-color;

  text-decoration: none;
}

.u-floatingBackLink:hover {
  color: $darker-secondary-color;
}

.gatherings-Main-header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.gatherings-YearGrid {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;

  .gatherings-YearGridBox {
    float: left;
    padding: 20px 60px 20px 60px;
    margin: 0.5em;

    background: $tertiary-color;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 50px rgba(27, 96, 243, 0.08);

    font-family: Playfair Display, sans-serif;
    font-weight: bold;
    text-decoration: none;

    .gatherings-YearGridBox-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      background-color: inherit;
      border: none;
      cursor: pointer;
      user-select: none;

      text-decoration: none;

      .gatherings-YearGridBox-headerMonth {
        width: 9ch;

        color: $base-color;

        font-family: "Playfair Display", serif;
        font-size: 2em;
        font-weight: bold;
        text-align: left;
      }

      .gatherings-YearGridBox-headerSpecialPresentation {
        flex-grow: 1;

        color: $secondary-color;

        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        text-align: left;
      }

      .isOpen > svg {
        transform: rotate(180deg);
      }
    }
  }
}

.gatherings-YearGridBox-toggle {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.gatherings-PlusBox {
  float: left;
  padding: 20px 60px;
  margin: 0.5em;

  background: $secondary-color;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 50px rgba(27, 96, 243, 0.08);

  font-family: Playfair Display, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
}

.gatherings-MainYear {
  padding-top: 1em;

  color: $secondary-color;

  font-family: Open Sans, sans-serif;
}

.gatherings-MainYear::after {
  content: "";

  display: inline-block;
  width: 3em;
  margin-left: 0.5em;

  border: 0.01em solid $secondary-color;

  text-align: center;
  vertical-align: middle;
}

.gatherings-Date select:nth-child(1) {
  box-sizing: border-box;
  width: 3.2em;

  background: $tertiary-color;
  border: 1px solid $darker-base-color;
  border-radius: 25px;
}

.gatherings-Date select:nth-child(2) {
  box-sizing: border-box;
  width: 7em;

  background: $tertiary-color;
  border: 1px solid $darker-base-color;
  border-radius: 25px;
}

.gatherings-Date select:nth-child(3) {
  box-sizing: border-box;
  width: 4.2em;

  background: $tertiary-color;
  border: 1px solid $darker-base-color;
  border-radius: 25px;
}

.gatherings-Special {
  box-sizing: border-box;
  width: 60%;
  padding: 0.3rem 1rem 0.3em 1rem;

  background: $tertiary-color;
  border: 1px solid $darker-secondary-color;
  border-radius: 5px;
  color: $secondary-color;

  font-size: 1rem;
}

.gatherings-Special:focus {
  border: 1px solid $darker-base-color;
}

.gatherings-mentions {
  box-sizing: border-box;

  background: $tertiary-color;
  border: 1px solid $darker-base-color;
  border-radius: 25px;
}

.gatherings-mentionsFirst {
  width: 6em;
}

.Gatherings-mentionsSecond {
  width: 50%;
}

.gatherings-Link {
  color: $darker-base-color;

  font-family: Open Sans;
  text-decoration: none;
}

.gatherings-Titles {
  color: $darker-base-color;

  font-family: Open Sans, sans-serif;
  font-size: 0.9em;
  font-style: normal;
  font-weight: normal;
}

.gatherings-TitlesDate {
  line-height: 2.1em;
}

.gatherings-TitlesSpecial {
  line-height: 0;
}

.gatherings-FormSeparation {
  margin-bottom: 1.5em;
}

.gatherings-Submit {
  padding: 5px 20px 6px 20px;
  margin-top: 10px;

  background: $base-color;
  border: none;
  border-radius: 25px;
  color: $tertiary-color;
  cursor: pointer;

  font-family: Open Sans, serif;
  font-size: 0.8em;
}

.gatherings-Submit:hover {
  background-color: $darker-base-color;
}
.gatherings-Notification {
  padding: 5px 20px 6px 20px;
  margin-right: 1em;

  background: $base-color;
  border: none;
  border-radius: 25px;
  color: $tertiary-color;
  cursor: pointer;

  font-family: Open Sans, serif;
  font-size: 0.8em;
}

.gatherings-Notification:hover {
  background-color: $darker-base-color;
}

.gatherings-SpaceDown {
  margin-bottom: 0.1em;
}

.gatherings-SpaceUpDown {
  margin: 0.8em 0 0.2em 0;
}

.gatherings-SpaceButton {
  margin-bottom: 0.8em;
}

.u-line {
  width: 100%;
  margin-top: 1.2em;

  border: 1px solid #edf0f7;
}

.gatherings-NextDate {
  display: flex;
  align-items: baseline;
  margin-bottom: 1em;

  color: $base-color;

  font-family: Open Sans, sans-serif;
  font-size: 0.9em;
  font-weight: normal;
}

.gatherings-NextDateShow {
  padding: 0.3em 0.7em 0.3em 0.7em;
  margin-bottom: 0;
  margin-left: 0.2em;

  font-size: 1.1em;
  font-weight: bold;
}

.gatherings-ShowHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin-top: 0;
    margin-right: 1em;
    margin-bottom: 0.2em;
  }

  input {
    margin-top: 0.2em;

    font-size: 1em;
  }
}

.gatherings-closeButton {
  display: block;
  padding: 5px 20px 6px 20px;
  margin-left: auto;

  background-color: transparent;
  border: 1px solid $secondary-color;
  border-radius: 25px;
  color: $secondary-color;
  cursor: pointer;

  font-family: Open Sans, serif;
  font-size: 0.8em;
}

.gatherings-close:hover {
  background-color: $base-color;
  color: $tertiary-color;
}

.gatherings-backToTop {
  position: fixed;
  right: 50px;
  bottom: 20px;
  z-index: 99;

  padding: 5px 20px 6px 20px;

  background-color: transparent;
  border: 1px solid $secondary-color;
  border-radius: 25px;
  color: $secondary-color;
  cursor: pointer;

  font-family: Open Sans, serif;
  font-size: 0.8em;

  @media all and (max-width: 1000px) {
    right: 20px;

    font-size: 0.8rem;
  }
}

.gatherings-backToTop:hover {
  background-color: $base-color;
  color: $tertiary-color;
}

@media all and (max-width: 1000px) {
  .gatherings-YearGridBox-headerSpecialPresentation {
    display: none;
  }

  .gatherings-Notification {
    display: none;
  }
}
