@import "colors";

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 5%;
  height: 100%;
  padding-top: 14%;
  padding-left: 1.2%;
  overflow-x: hidden;

  background-color: $base-color;

  white-space: nowrap;

  transition: width 0.5s;
}

.Sidebar a {
  display: block;
  padding-top: 1.5em;
  padding-left: 8%;

  color: $darker-base-color;

  font-size: 1em;
  text-decoration: none;
}

.Sidebar-book {
  margin: 0 1.8em 0.1em 0;

  vertical-align: middle;
}

.Sidebar-list {
  margin: 0 1.9em 0.1em 0;

  vertical-align: middle;
}

.Sidebar-textList {
  padding-bottom: 2.5em;
}

@media screen and (max-height: 450px) {
  .Sidebar {
    padding-top: 15px;
  }
  .Sidebar a {
    font-size: 18px;
  }
}
