.Table-body{
    padding-right: 10px;
}

.Table-image{
    height: 50%;
}

.Table-head{
    padding: 0 20px 10px 0;
}

th {
    padding-bottom: 5px; 
    text-align: center;
}

td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px; }