.users-Field{
  padding: 10px;
}

.users-Actions{
  padding: 5px;
  display: flex;
  justify-content: space-around;

  .submit {
    font-family: Open Sans, serif;
    font-size: 0.8em;
    padding: 5px 20px 6px 20px;
    background:#1B60F3;
    color: white;
    border-radius: 25px;
    border: none;
    width: 13em;
  }
}



.users-Login {
  top: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #EDF0F7;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #FFFFFF;
    width: 25vw;
    max-width: 50%;
    border-radius: 25px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    .text-input{
      border: 1px solid #1F29A4;
      box-sizing: border-box;
      border-radius: 25px;
      background: white;
      width: 15em;
      height: 3em;
    }

    h1 {
      font-family: "Playfair Display", serif;
      margin-top: 2em;
      margin-bottom: 0;
      color: #1B60F3;
    }

    .subtitle{
      color: #1F29A4;
    }
  }
}
