---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?q=isbn:9781448103690
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "books#volumes",
          "totalItems": 1,
          "items": [
            {
              "kind": "books#volume",
              "id": "L6AtuutQHpwC",
              "etag": "5yka5Kg8Gck",
              "selfLink": "https://www.googleapis.com/books/v1/volumes/L6AtuutQHpwC",
              "volumeInfo": {
                "title": "Kafka on the Shore",
                "authors": [
                  "Haruki Murakami"
                ],
                "publisher": "Random House",
                "publishedDate": "2011-10-10",
                "description": "Kafka Tamura runs away from home at fifteen, under the shadow of his father's dark prophesy. The aging Nakata, tracker of lost cats, who never recovered from a bizarre childhood affliction, finds his pleasantly simplified life suddenly turned upside down. As their parallel odysseys unravel, cats converse with people; fish tumble from the sky; a ghost-like pimp deploys a Hegel-spouting girl of the night; a forest harbours soldiers apparently un-aged since World War II. There is a savage killing, but the identity of both victim and killer is a riddle - one of many which combine to create an elegant and dreamlike masterpiece. 'Wonderful... Magical and outlandish' Daily Mail 'Hypnotic, spellbinding' The Times 'Cool, fluent and addictive' Daily Telegraph",
                "industryIdentifiers": [
                  {
                    "type": "ISBN_13",
                    "identifier": "9781448103690"
                  },
                  {
                    "type": "ISBN_10",
                    "identifier": "144810369X"
                  }
                ],
                "readingModes": {
                  "text": true,
                  "image": false
                },
                "pageCount": 512,
                "printType": "BOOK",
                "categories": [
                  "Fiction"
                ],
                "averageRating": 4,
                "ratingsCount": 176,
                "maturityRating": "NOT_MATURE",
                "allowAnonLogging": true,
                "contentVersion": "1.195.25.0.preview.2",
                "panelizationSummary": {
                  "containsEpubBubbles": false,
                  "containsImageBubbles": false
                },
                "imageLinks": {
                  "smallThumbnail": "http://books.google.com/books/content?id=L6AtuutQHpwC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api",
                  "thumbnail": "http://books.google.com/books/content?id=L6AtuutQHpwC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                },
                "language": "en",
                "previewLink": "http://books.google.pt/books?id=L6AtuutQHpwC&printsec=frontcover&dq=isbn:9781448103690&hl=&cd=1&source=gbs_api",
                "infoLink": "https://play.google.com/store/books/details?id=L6AtuutQHpwC&source=gbs_api",
                "canonicalVolumeLink": "https://play.google.com/store/books/details?id=L6AtuutQHpwC"
              },
              "saleInfo": {
                "country": "PT",
                "saleability": "FOR_SALE",
                "isEbook": true,
                "listPrice": {
                  "amount": 9.49,
                  "currencyCode": "EUR"
                },
                "retailPrice": {
                  "amount": 9.49,
                  "currencyCode": "EUR"
                },
                "buyLink": "https://play.google.com/store/books/details?id=L6AtuutQHpwC&rdid=book-L6AtuutQHpwC&rdot=1&source=gbs_api",
                "offers": [
                  {
                    "finskyOfferType": 1,
                    "listPrice": {
                      "amountInMicros": 9490000,
                      "currencyCode": "EUR"
                    },
                    "retailPrice": {
                      "amountInMicros": 9490000,
                      "currencyCode": "EUR"
                    }
                  }
                ]
              },
              "accessInfo": {
                "country": "PT",
                "viewability": "PARTIAL",
                "embeddable": true,
                "publicDomain": false,
                "textToSpeechPermission": "ALLOWED_FOR_ACCESSIBILITY",
                "epub": {
                  "isAvailable": true,
                  "acsTokenLink": "http://books.google.pt/books/download/Kafka_on_the_Shore-sample-epub.acsm?id=L6AtuutQHpwC&format=epub&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api"
                },
                "pdf": {
                  "isAvailable": false
                },
                "webReaderLink": "http://play.google.com/books/reader?id=L6AtuutQHpwC&hl=&printsec=frontcover&source=gbs_api",
                "accessViewStatus": "SAMPLE",
                "quoteSharingAllowed": false
              },
              "searchInfo": {
                "textSnippet": "Kafka Tamura runs away from home at fifteen, under the shadow of his father&#39;s dark prophesy."
              }
            }
          ]
        }
  recorded_at: Wed, 05 Aug 2020 20:21:31 GMT
recorded_with: VCR 6.0.0
